USE [db_biblioteca]
GO
/****** Object:  Table [dbo].[tbcalificacion]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcalificacion](
	[id_calificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_prestamo] [int] NOT NULL,
	[id_usuario_calificador] [int] NOT NULL,
	[id_usuario_calificado] [int] NOT NULL,
	[puntuacion] [int] NOT NULL,
	[comentario] [text] NULL,
	[tipo_calificacion] [varchar](30) NOT NULL,
	[fecha_calificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbcarrera]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcarrera](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre_carrera] [varchar](150) NOT NULL,
	[activa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbgenero]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbgenero](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nombre_genero] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblibro]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblibro](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[codigo_referencia] [varchar](20) NOT NULL,
	[id_usuario_donador] [int] NOT NULL,
	[id_admin_registrador] [int] NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[autor] [varchar](100) NOT NULL,
	[id_genero] [int] NOT NULL,
	[id_carrera] [int] NULL,
	[condicion] [varchar](10) NULL,
	[ano_publicacion] [int] NULL,
	[sinopsis] [text] NULL,
	[disponible] [bit] NULL,
	[fecha_donacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbmovimiento_credito]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbmovimiento_credito](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo_movimiento] [varchar](10) NOT NULL,
	[cantidad] [int] NOT NULL,
	[saldo_anterior] [int] NULL,
	[saldo_nuevo] [int] NULL,
	[descripcion] [varchar](200) NULL,
	[id_admin] [int] NULL,
	[fecha_movimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbprestamo]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbprestamo](
	[id_prestamo] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_usuario_prestatario] [int] NOT NULL,
	[id_usuario_donador] [int] NOT NULL,
	[id_admin_entrega] [int] NOT NULL,
	[id_admin_devolucion] [int] NULL,
	[fecha_entrega] [datetime] NULL,
	[fecha_prevista_devolucion] [datetime] NOT NULL,
	[fecha_devolucion_real] [datetime] NULL,
	[dias_prestamo]  AS (datediff(day,[fecha_entrega],isnull([fecha_devolucion_real],getdate()))),
	[estado] [varchar](15) NULL,
	[condicion_devolucion] [varchar](10) NULL,
	[descripcion_danio] [text] NULL,
	[numero_renovaciones] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbreserva]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbreserva](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_reserva] [datetime] NULL,
	[estado] [varchar](15) NULL,
	[posicion_cola] [int] NOT NULL,
	[fecha_notificacion] [datetime] NULL,
	[fecha_expiracion_confirmacion] [datetime] NULL,
	[confirmada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbsolicitud_prestamo]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsolicitud_prestamo](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_usuario_solicitante] [int] NOT NULL,
	[id_admin_procesador] [int] NULL,
	[estado] [varchar](10) NULL,
	[fecha_solicitud] [datetime] NULL,
	[fecha_procesamiento] [datetime] NULL,
	[motivo_rechazo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbusuario]    Script Date: 16/11/2025 12:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbusuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[codigo_identificacion] [varchar](5) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[telefono] [varchar](20) NULL,
	[temas_interes] [varchar](255) NULL,
	[foto_perfil] [varbinary](max) NULL,
	[reputacion_promedio] [decimal](3, 2) NULL,
	[numero_prestamos_completados] [int] NULL,
	[creditos_disponibles] [int] NULL,
	[rol] [varchar](10) NULL,
	[estado_cuenta] [varchar](15) NULL,
	[activo] [bit] NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbcalificacion] ON 

INSERT [dbo].[tbcalificacion] ([id_calificacion], [id_prestamo], [id_usuario_calificador], [id_usuario_calificado], [puntuacion], [comentario], [tipo_calificacion], [fecha_calificacion]) VALUES (1, 6, 12, 9, 5, N'Libro devuelto en perfectas condiciones y antes de la fecha límite. Excelente prestatario.', N'comportamiento_prestatario', CAST(N'2024-10-04T10:00:00.000' AS DateTime))
INSERT [dbo].[tbcalificacion] ([id_calificacion], [id_prestamo], [id_usuario_calificador], [id_usuario_calificado], [puntuacion], [comentario], [tipo_calificacion], [fecha_calificacion]) VALUES (2, 6, 12, 9, 5, N'El libro fue devuelto tal como se entregó, sin ningún daño.', N'estado_libro_devuelto', CAST(N'2024-10-04T10:05:00.000' AS DateTime))
INSERT [dbo].[tbcalificacion] ([id_calificacion], [id_prestamo], [id_usuario_calificador], [id_usuario_calificado], [puntuacion], [comentario], [tipo_calificacion], [fecha_calificacion]) VALUES (3, 6, 9, 12, 5, N'Excelente comunicación y libro en muy buen estado al recibirlo.', N'comunicacion', CAST(N'2024-10-04T15:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbcalificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[tbcarrera] ON 

INSERT [dbo].[tbcarrera] ([id_carrera], [nombre_carrera], [activa]) VALUES (1, N'Escuela Profesional de Ingeniería Civil', 1)
INSERT [dbo].[tbcarrera] ([id_carrera], [nombre_carrera], [activa]) VALUES (2, N'Escuela Profesional de Ingeniería de Sistemas', 1)
INSERT [dbo].[tbcarrera] ([id_carrera], [nombre_carrera], [activa]) VALUES (3, N'Escuela Profesional de Ingeniería Electrónica', 1)
SET IDENTITY_INSERT [dbo].[tbcarrera] OFF
GO
SET IDENTITY_INSERT [dbo].[tbgenero] ON 

INSERT [dbo].[tbgenero] ([id_genero], [nombre_genero]) VALUES (29, N'Administración')
INSERT [dbo].[tbgenero] ([id_genero], [nombre_genero]) VALUES (35, N'Arquitectura')
INSERT [dbo].[tbgenero] ([id_genero], [nombre_genero]) VALUES (10, N'Bases de Datos')
SET IDENTITY_INSERT [dbo].[tbgenero] OFF
GO
SET IDENTITY_INSERT [dbo].[tblibro] ON 

INSERT [dbo].[tblibro] ([id_libro], [codigo_referencia], [id_usuario_donador], [id_admin_registrador], [titulo], [autor], [id_genero], [id_carrera], [condicion], [ano_publicacion], [sinopsis], [disponible], [fecha_donacion]) VALUES (1, N'LB-00001', 12, 6, N'Patrones de Diseño', N'Erich Gamma, Richard Helm', 9, 2, N'Excelente', 1994, N'Catálogo fundamental de 23 patrones de diseño de software reutilizables que resuelven problemas comunes en el desarrollo orientado a objetos.', 1, CAST(N'2024-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[tblibro] ([id_libro], [codigo_referencia], [id_usuario_donador], [id_admin_registrador], [titulo], [autor], [id_genero], [id_carrera], [condicion], [ano_publicacion], [sinopsis], [disponible], [fecha_donacion]) VALUES (2, N'LB-00002', 17, 6, N'Fundamentos de Bases de Datos', N'Abraham Silberschatz, Henry Korth', 10, 2, N'Muy bueno', 2019, N'Texto completo sobre diseño, modelado y gestión de bases de datos relacionales y NoSQL, con ejemplos prácticos.', 0, CAST(N'2024-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[tblibro] ([id_libro], [codigo_referencia], [id_usuario_donador], [id_admin_registrador], [titulo], [autor], [id_genero], [id_carrera], [condicion], [ano_publicacion], [sinopsis], [disponible], [fecha_donacion]) VALUES (3, N'LB-00003', 1, 20, N'Inteligencia Artificial: Un Enfoque Moderno', N'Stuart Russell, Peter Norvig', 8, 2, N'Bueno', 2020, N'El libro más completo sobre IA, cubriendo desde búsqueda y lógica hasta aprendizaje automático y visión computacional.', 1, CAST(N'2024-10-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblibro] OFF
GO
SET IDENTITY_INSERT [dbo].[tbmovimiento_credito] ON 

INSERT [dbo].[tbmovimiento_credito] ([id_movimiento], [id_usuario], [tipo_movimiento], [cantidad], [saldo_anterior], [saldo_nuevo], [descripcion], [id_admin], [fecha_movimiento]) VALUES (1, 12, N'ganancia', 1, 0, 1, N'Crédito por donación de libro: Patrones de Diseño', 6, CAST(N'2024-09-15T10:00:00.000' AS DateTime))
INSERT [dbo].[tbmovimiento_credito] ([id_movimiento], [id_usuario], [tipo_movimiento], [cantidad], [saldo_anterior], [saldo_nuevo], [descripcion], [id_admin], [fecha_movimiento]) VALUES (2, 17, N'ganancia', 1, 0, 1, N'Crédito por donación de libro: Fundamentos de Bases de Datos', 6, CAST(N'2024-10-01T11:00:00.000' AS DateTime))
INSERT [dbo].[tbmovimiento_credito] ([id_movimiento], [id_usuario], [tipo_movimiento], [cantidad], [saldo_anterior], [saldo_nuevo], [descripcion], [id_admin], [fecha_movimiento]) VALUES (3, 1, N'ganancia', 1, 0, 1, N'Crédito por donación de libro: Inteligencia Artificial: Un Enfoque Moderno', 20, CAST(N'2024-10-10T09:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbmovimiento_credito] OFF
GO
SET IDENTITY_INSERT [dbo].[tbprestamo] ON 

INSERT [dbo].[tbprestamo] ([id_prestamo], [id_libro], [id_usuario_prestatario], [id_usuario_donador], [id_admin_entrega], [id_admin_devolucion], [fecha_entrega], [fecha_prevista_devolucion], [fecha_devolucion_real], [estado], [condicion_devolucion], [descripcion_danio], [numero_renovaciones]) VALUES (1, 2, 1, 17, 6, NULL, CAST(N'2024-10-20T14:30:00.000' AS DateTime), CAST(N'2024-11-03T14:30:00.000' AS DateTime), NULL, N'retrasado', NULL, NULL, 0)
INSERT [dbo].[tbprestamo] ([id_prestamo], [id_libro], [id_usuario_prestatario], [id_usuario_donador], [id_admin_entrega], [id_admin_devolucion], [fecha_entrega], [fecha_prevista_devolucion], [fecha_devolucion_real], [estado], [condicion_devolucion], [descripcion_danio], [numero_renovaciones]) VALUES (2, 6, 12, 8, 20, NULL, CAST(N'2024-10-19T16:00:00.000' AS DateTime), CAST(N'2024-11-02T16:00:00.000' AS DateTime), NULL, N'retrasado', NULL, NULL, 0)
INSERT [dbo].[tbprestamo] ([id_prestamo], [id_libro], [id_usuario_prestatario], [id_usuario_donador], [id_admin_entrega], [id_admin_devolucion], [fecha_entrega], [fecha_prevista_devolucion], [fecha_devolucion_real], [estado], [condicion_devolucion], [descripcion_danio], [numero_renovaciones]) VALUES (3, 10, 9, 10, 6, NULL, CAST(N'2024-10-18T16:30:00.000' AS DateTime), CAST(N'2024-11-01T16:30:00.000' AS DateTime), NULL, N'retrasado', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbprestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[tbreserva] ON 

INSERT [dbo].[tbreserva] ([id_reserva], [id_libro], [id_usuario], [fecha_reserva], [estado], [posicion_cola], [fecha_notificacion], [fecha_expiracion_confirmacion], [confirmada]) VALUES (1, 2, 7, CAST(N'2024-10-21T09:00:00.000' AS DateTime), N'activa', 1, NULL, NULL, 0)
INSERT [dbo].[tbreserva] ([id_reserva], [id_libro], [id_usuario], [fecha_reserva], [estado], [posicion_cola], [fecha_notificacion], [fecha_expiracion_confirmacion], [confirmada]) VALUES (2, 2, 15, CAST(N'2024-10-22T14:30:00.000' AS DateTime), N'activa', 2, NULL, NULL, 0)
INSERT [dbo].[tbreserva] ([id_reserva], [id_libro], [id_usuario], [fecha_reserva], [estado], [posicion_cola], [fecha_notificacion], [fecha_expiracion_confirmacion], [confirmada]) VALUES (3, 6, 18, CAST(N'2024-10-20T11:00:00.000' AS DateTime), N'activa', 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbreserva] OFF
GO
SET IDENTITY_INSERT [dbo].[tbsolicitud_prestamo] ON 

INSERT [dbo].[tbsolicitud_prestamo] ([id_solicitud], [id_libro], [id_usuario_solicitante], [id_admin_procesador], [estado], [fecha_solicitud], [fecha_procesamiento], [motivo_rechazo]) VALUES (1, 2, 1, 6, N'aceptada', CAST(N'2024-10-20T09:30:00.000' AS DateTime), CAST(N'2024-10-20T14:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tbsolicitud_prestamo] ([id_solicitud], [id_libro], [id_usuario_solicitante], [id_admin_procesador], [estado], [fecha_solicitud], [fecha_procesamiento], [motivo_rechazo]) VALUES (2, 6, 12, 20, N'aceptada', CAST(N'2024-10-19T10:15:00.000' AS DateTime), CAST(N'2024-10-19T15:30:00.000' AS DateTime), NULL)
INSERT [dbo].[tbsolicitud_prestamo] ([id_solicitud], [id_libro], [id_usuario_solicitante], [id_admin_procesador], [estado], [fecha_solicitud], [fecha_procesamiento], [motivo_rechazo]) VALUES (3, 10, 9, 6, N'aceptada', CAST(N'2024-10-18T11:00:00.000' AS DateTime), CAST(N'2024-10-18T16:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbsolicitud_prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[tbusuario] ON 

INSERT [dbo].[tbusuario] ([id_usuario], [nombre], [apellido], [email], [contrasena], [codigo_identificacion], [id_carrera], [telefono], [temas_interes], [foto_perfil], [reputacion_promedio], [numero_prestamos_completados], [creditos_disponibles], [rol], [estado_cuenta], [activo], [fecha_registro]) VALUES (1, N'Alvaro', N'Contreras', N'ac2021070020@virtual.upt.pe', N'Password1@', N'12345', 2, N'951153997', N'Programacion', NULL, CAST(5.00 AS Decimal(3, 2)), 1, 85, N'estudiante', N'activa', 1, CAST(N'2025-10-25T13:19:38.620' AS DateTime))
INSERT [dbo].[tbusuario] ([id_usuario], [nombre], [apellido], [email], [contrasena], [codigo_identificacion], [id_carrera], [telefono], [temas_interes], [foto_perfil], [reputacion_promedio], [numero_prestamos_completados], [creditos_disponibles], [rol], [estado_cuenta], [activo], [fecha_registro]) VALUES (6, N'Admin nombre', N'Admin apellido', N'admin2@virtual.upt.pe', N'Password1@', N'54321', 2, N'951153997', NULL, NULL, CAST(5.00 AS Decimal(3, 2)), 0, 100, N'admin', N'activa', 1, CAST(N'2025-10-25T13:39:28.973' AS DateTime))
INSERT [dbo].[tbusuario] ([id_usuario], [nombre], [apellido], [email], [contrasena], [codigo_identificacion], [id_carrera], [telefono], [temas_interes], [foto_perfil], [reputacion_promedio], [numero_prestamos_completados], [creditos_disponibles], [rol], [estado_cuenta], [activo], [fecha_registro]) VALUES (7, N'Javier', N'Lip', N'lip@virtual.upt.pe', N'Password1@', N'98765', 2, NULL, NULL, NULL, CAST(5.00 AS Decimal(3, 2)), 0, 100, N'estudiante', N'activa', 1, CAST(N'2025-10-25T14:08:47.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbusuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbcarrer__F9D5F4A660CC6D9B]    Script Date: 16/11/2025 12:31:57 ******/
ALTER TABLE [dbo].[tbcarrera] ADD UNIQUE NONCLUSTERED 
(
	[nombre_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbgenero__50D32CEF3370CC52]    Script Date: 16/11/2025 12:31:57 ******/
ALTER TABLE [dbo].[tbgenero] ADD UNIQUE NONCLUSTERED 
(
	[nombre_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblibro__C8E6EEFAAB8BDC80]    Script Date: 16/11/2025 12:31:57 ******/
ALTER TABLE [dbo].[tblibro] ADD UNIQUE NONCLUSTERED 
(
	[codigo_referencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbusuari__8143779382A6BB55]    Script Date: 16/11/2025 12:31:57 ******/
ALTER TABLE [dbo].[tbusuario] ADD UNIQUE NONCLUSTERED 
(
	[codigo_identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbusuari__AB6E61649FB6AA55]    Script Date: 16/11/2025 12:31:57 ******/
ALTER TABLE [dbo].[tbusuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbcalificacion] ADD  DEFAULT (getdate()) FOR [fecha_calificacion]
GO
ALTER TABLE [dbo].[tbcarrera] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[tblibro] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[tblibro] ADD  DEFAULT (getdate()) FOR [fecha_donacion]
GO
ALTER TABLE [dbo].[tbmovimiento_credito] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[tbprestamo] ADD  DEFAULT (getdate()) FOR [fecha_entrega]
GO
ALTER TABLE [dbo].[tbprestamo] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[tbprestamo] ADD  DEFAULT ((0)) FOR [numero_renovaciones]
GO
ALTER TABLE [dbo].[tbreserva] ADD  DEFAULT (getdate()) FOR [fecha_reserva]
GO
ALTER TABLE [dbo].[tbreserva] ADD  DEFAULT ('activa') FOR [estado]
GO
ALTER TABLE [dbo].[tbreserva] ADD  DEFAULT ((0)) FOR [confirmada]
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ((5.0)) FOR [reputacion_promedio]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ((0)) FOR [numero_prestamos_completados]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ((0)) FOR [creditos_disponibles]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ('estudiante') FOR [rol]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ('activa') FOR [estado_cuenta]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tbusuario] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[tbcalificacion]  WITH CHECK ADD FOREIGN KEY([id_prestamo])
REFERENCES [dbo].[tbprestamo] ([id_prestamo])
GO
ALTER TABLE [dbo].[tbcalificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_calificador])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbcalificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_calificado])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tblibro]  WITH CHECK ADD FOREIGN KEY([id_admin_registrador])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tblibro]  WITH CHECK ADD FOREIGN KEY([id_carrera])
REFERENCES [dbo].[tbcarrera] ([id_carrera])
GO
ALTER TABLE [dbo].[tblibro]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [dbo].[tbgenero] ([id_genero])
GO
ALTER TABLE [dbo].[tblibro]  WITH CHECK ADD FOREIGN KEY([id_usuario_donador])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbmovimiento_credito]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbmovimiento_credito]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD FOREIGN KEY([id_admin_entrega])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD FOREIGN KEY([id_admin_devolucion])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[tblibro] ([id_libro])
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD FOREIGN KEY([id_usuario_prestatario])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD FOREIGN KEY([id_usuario_donador])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbreserva]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[tblibro] ([id_libro])
GO
ALTER TABLE [dbo].[tbreserva]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo]  WITH CHECK ADD FOREIGN KEY([id_admin_procesador])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo]  WITH CHECK ADD FOREIGN KEY([id_libro])
REFERENCES [dbo].[tblibro] ([id_libro])
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo]  WITH CHECK ADD FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[tbusuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tbusuario]  WITH CHECK ADD FOREIGN KEY([id_carrera])
REFERENCES [dbo].[tbcarrera] ([id_carrera])
GO
ALTER TABLE [dbo].[tbcalificacion]  WITH CHECK ADD CHECK  (([puntuacion]>=(1) AND [puntuacion]<=(5)))
GO
ALTER TABLE [dbo].[tbcalificacion]  WITH CHECK ADD CHECK  (([tipo_calificacion]='comunicacion' OR [tipo_calificacion]='estado_libro_devuelto' OR [tipo_calificacion]='comportamiento_prestatario'))
GO
ALTER TABLE [dbo].[tblibro]  WITH CHECK ADD CHECK  (([condicion]='Regular' OR [condicion]='Bueno' OR [condicion]='Muy bueno' OR [condicion]='Excelente'))
GO
ALTER TABLE [dbo].[tbmovimiento_credito]  WITH CHECK ADD CHECK  (([tipo_movimiento]='ajuste' OR [tipo_movimiento]='bonus' OR [tipo_movimiento]='gasto' OR [tipo_movimiento]='ganancia'))
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD CHECK  (([condicion_devolucion]=NULL OR [condicion_devolucion]='Dañado' OR [condicion_devolucion]='Regular' OR [condicion_devolucion]='Bueno' OR [condicion_devolucion]='Muy bueno' OR [condicion_devolucion]='Excelente'))
GO
ALTER TABLE [dbo].[tbprestamo]  WITH CHECK ADD CHECK  (([estado]='no_devuelto' OR [estado]='completado' OR [estado]='retrasado' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[tbreserva]  WITH CHECK ADD CHECK  (([estado]='cancelada' OR [estado]='completada' OR [estado]='notificada' OR [estado]='activa'))
GO
ALTER TABLE [dbo].[tbsolicitud_prestamo]  WITH CHECK ADD CHECK  (([estado]='cancelada' OR [estado]='rechazada' OR [estado]='aceptada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[tbusuario]  WITH CHECK ADD CHECK  (([estado_cuenta]='suspendida' OR [estado_cuenta]='bloqueada' OR [estado_cuenta]='activa'))
GO
ALTER TABLE [dbo].[tbusuario]  WITH CHECK ADD CHECK  (([rol]='estudiante' OR [rol]='admin'))
GO
